/* Logo Change for european project */
.logo-container{
    background-image: url('../images/in-athens-wh-sm.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 130px;
    width: 190px;
    margin: auto;
    margin-bottom:30px;
    margin-top: 30px;
    h1{
      display: none;
    }
}
.landing__brand{
  padding: 40px !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/in-athens-wh-sm.png');
  height: 110px;
  width: 300px;
  margin: auto;
  margin-bottom:30px;
  margin-top: 30px;
  svg, .brand__tagline{
    display: none;
  }
}
.footer{
  .column-2{
    background-image: url('../images/espa.jpg');
    background-size: cover;
    h4,a{
      display: none;
    }
  }
}

/* Side Panels */
.columns-area__panels__pane__inner {
	position: static;
}

/* Compose Form */
.compose-panel {
	height: auto;
}

.compose-form {
	&__label {
		margin: 20px 0 15px;
		input {
			width: 100%;
			padding: 8px 9px;
			max-width: 244px;
			border-radius: 4px;
		}
	}
	.map-toggle-button {
		margin-right: 20px;
		button {
			background-color: #d92b64;
		}
	}
	#map {
		width: 265px;
		height: 320px;
	}
	.map-container {
		visibility: visible;
		transition: opacity 0.2s, visibility 0.3s;
		&.hide {
			visibility: hidden;
			opacity: 0;
		}
	}
}

.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
}

#pac-input {
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	width: 100%;
	border: 2px solid #000;
	padding: 8px 9px;
	border-radius: 4px;
	left: -1px!important;
	z-index: 33333333!important;
}

.pac-item {
	background-color: #fff;
	color: #333;
}


.compose-form__tags {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
	.button {
		margin-right: 8px;
		margin-top: 8px;
		font-size: 12px;
		padding: 5px;
		height: auto;
		line-height: 1;
		text-transform: none;
	}
}

/* Status */
.toggle-location-btn {
	div {
		display: none;
		&.show {
			display: inline;
		}
	}
}

.status-map {
	display: none;
	max-width: 450px;
	height: 250px;
	&.show {
		display: block;
	}
}

.share-container {
	margin-top: 10px;
	a {
		margin-left: 3px;
	}
}

.location-container {
	margin-top: 10px;
	.location-name{
		margin-bottom: 20px;
		cursor: pointer;
		color:#b2919c;
		font-size: 14px;
		.fa{
			font-size: 17px;
			margin-right: 7px;
		}
	}
}

/* Google Maps */
.gm-style-moc {
	background-color: rgba(0,0,0,0.45);
	pointer-events: none;
	text-align: center;
	transition: opacity ease-in-out;
}

.gm-style-mot {
	color: white;
	font-family: Roboto,Arial,sans-serif;
	font-size: 22px;
	margin: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.gm-style-iw-a {
	background-color: #fff;
	border-radius: 3px;
	color: #000;
	min-width: 150px;
	padding: 10px 12px;
	a {
		text-decoration: none;
		color: #000;
	}
}

.poi-info-window {
	background-color: #fff;
}

#infowindow {
	color: #000;

}

/* Toot Map */
#toot_map {
	width: 100%;
	height: 600px;
}

div[data-route="tootMap"] {
	.columns-area__panels__main{
		max-width:1000px;
	}
	.columns-area__panels__pane:first-child {
		display:none;
	}
}

/* Map Filter */
.map-filter {
	margin-bottom: 20px;
	margin-top: 20px;
	label{
		display: block;
		margin-bottom: 10px;
	}
	div{
		float: left;
	}
	input {
		padding: 8px 9px;
		margin-right: 20px;
	}
	.button {
		display: inline-block;
		max-width: 130px;
	}
}

/* Menu Column */
.column-espa-image {
    background-image: url('../images/espa.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    max-width: 100%;
    margin: 30px 20px;
}

.column-logo-image {
    background-image: url('../images/in-athens-wh-sm.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 130px;
    max-width: 100%;
    background-position: center;
}

/* Log-in auth Page*/
.auth-bottom-img-container {
    background-image: url('../images/espa.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
    height: 70px;
    max-width: 350px;
    margin: 50px auto;
}

/* Responsive */
@media all and (min-width: 630px) {
	.status-actions-row {
		display: flex;
		justify-content: space-between;
	}
}
