- content_for :header_tags do
  = javascript_pack_tag 'public', crossorigin: 'anonymous'

- content_for :content do
  .container-alt
    .logo-container
      %h1
        = link_to root_path do
          = svg_logo_full

    .form-container
      = render 'flashes'

      = yield
	  
    .auth-bottom-img-container
	
= render template: 'layouts/application'
